<html lang="en">

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="container">
      <nav>
        <h4>Explore</h4>
        <a href="/catalog"><button>Home</button></a>
        <a href="/catalog/books"><button>All books</button></a>
        <a href="/catalog/authors"><button>All authors</button></a>
        <a href="/catalog/genres"><button>All genres</button></a>
        <a href="/catalog/bookinstances"><button>All book-instances</button></a>
        <h4>Create</h4>
        <a href="/catalog/author/create"><button>Create author</button></a>
        <a href="/catalog/genre/create"><button>Create genre</button></a>
        <a href="/catalog/book/create"><button>Create book</button></a>
        <a href="/catalog/bookinstance/create"><button>Create book
            instance (copy)</button></a>
      </nav>
      <div class="content">{{{body}}}</div>
    </div>

  </body>

</html>