/* CSS RESET */  *:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {all: unset;display: revert;}*, *::before, *::after {box-sizing: border-box;}ol, ul, menu {list-style: none;}img {max-width: 100%;}table {border-collapse: collapse;}textarea {white-space: revert;}:where([hidden]){display:none;}:where([contenteditable]){-moz-user-modify: read-write;-webkit-user-modify: read-write;overflow-wrap: break-word;-webkit-line-break: after-white-space;}:where([draggable="true"]) {-webkit-user-drag: element;}

:root {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    color: var(--slate12);
    --pink1: hsl(318 25.0% 9.6%);
    --pink2: hsl(319 32.2% 11.6%);
    --pink3: hsl(319 41.0% 16.0%);
    --pink4: hsl(320 45.4% 18.7%);
    --pink5: hsl(320 49.0% 21.1%);
    --pink6: hsl(321 53.6% 24.4%);
    --pink7: hsl(321 61.1% 29.7%);
    --pink8: hsl(322 74.9% 37.5%);
    --pink9: hsl(322 65.0% 54.5%);
    --pink10: hsl(323 72.8% 59.2%);
    --pink11: hsl(325 90.0% 66.4%);
    --pink12: hsl(322 90.0% 95.8%);
    --blue1: hsl(212 35.0% 9.2%);
    --blue2: hsl(216 50.0% 11.8%);
    --blue3: hsl(214 59.4% 15.3%);
    --blue4: hsl(214 65.8% 17.9%);
    --blue5: hsl(213 71.2% 20.2%);
    --blue6: hsl(212 77.4% 23.1%);
    --blue7: hsl(211 85.1% 27.4%);
    --blue8: hsl(211 89.7% 34.1%);
    --blue9: hsl(206 100% 50.0%);
    --blue10: hsl(209 100% 60.6%);
    --blue11: hsl(210 100% 66.1%);
    --blue12: hsl(206 98.0% 95.8%);
    --slate1: hsl(200 7.0% 8.8%);
    --slate2: hsl(195 7.1% 11.0%);
    --slate3: hsl(197 6.8% 13.6%);
    --slate4: hsl(198 6.6% 15.8%);
    --slate5: hsl(199 6.4% 17.9%);
    --slate6: hsl(201 6.2% 20.5%);
    --slate7: hsl(203 6.0% 24.3%);
    --slate8: hsl(207 5.6% 31.6%);
    --slate9: hsl(206 6.0% 43.9%);
    --slate10: hsl(206 5.2% 49.5%);
    --slate11: hsl(206 6.0% 63.0%);
    --slate12: hsl(210 6.0% 93.0%);
}

/* animations */

@keyframes slideup {
    from {
        transform: translate(0px, 3rem);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes slidedown {
    from {
        transform: translate(0px, -3rem);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes slidedownopacity {
    from {
        transform: translate(0px, -3rem);
        opacity: 0%;
    }
    to {
        transform: translate(0px, 0px);
        opacity: 100%;
    }
}

@keyframes slideupopacity {
    from {
        transform: translate(0px, 3rem);
        opacity: 0%;
    }
    to {
        transform: translate(0px, 0px);
        opacity: 100%;
    }
}

@keyframes scalein {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 100%;
    }
}

body {
    background-color: var(--slate1);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 100%;
    width: 728px;
    gap: 2rem;
}

footer {
    cursor: pointer;
    color: var(--slate6);
    font-size: 0.75rem;
}

@media only screen and (max-width: 720px) {
    #container {
      width: 450px;
    }
  }

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    background-color: var(--blue9);
    background: linear-gradient(45deg, var(--pink9), var(--blue9));
    background-clip: text;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    animation: slidedown 0.5s;
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    animation: slidedown 0.5s;
}

.menuScene {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.gameTypeButton {
    cursor: pointer;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--slate3);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    gap: 0.5rem;
    opacity: 0%;
    animation: slideupopacity 0.3s;
    animation-fill-mode: both;
}

.gameTypeButton:nth-child(2) {
    animation: slideupopacity 0.3s;
    animation-delay: 0.1s;
    animation-fill-mode: both;
}
.gameTypeButton:nth-child(3) {
    animation: slideupopacity 0.3s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
}

.gameTypeButton:hover {
    background-color: var(--slate4);
}

.icon {
    font-size: 2rem;
}

.difficultyScene {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.gameScene {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.gameInfoPlayer {
    color: var(--blue9);
    font-size: 2rem;
    font-weight: 700;
}

.gameInfo {
    animation: slidedownopacity 0.4s;
}

.cellContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 450px;
    gap: 0.5rem;
}

.cell {
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: var(--slate3);
    width: 115px;
    height: 115px;
    opacity: 0%;
    animation: slideupopacity 0.25s;
    animation-fill-mode: both;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
}

.scalein {
    animation: scalein 0.3s ease-in-out;
}

.playerOne {
    color: var(--blue9);
    animation: scalein 0.3s ease-in-out;
}

.playerTwo {
    color: var(--pink9);
    animation: scalein 0.3s ease-in-out;
}

.cell:nth-child(2) {
    animation: slideupopacity 0.25s;
    animation-delay: 0.05s;
    animation-fill-mode: both;
}

.cell:nth-child(3) {
    animation: slideupopacity 0.25s;
    animation-delay: 0.1s;
    animation-fill-mode: both;
}

.cell:nth-child(6) {
    animation: slideupopacity 0.25s;
    animation-delay: 0.15s;
    animation-fill-mode: both;
}

.cell:nth-child(5) {
    animation: slideupopacity 0.25s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
}

.cell:nth-child(4) {
    animation: slideupopacity 0.25s;
    animation-delay: 0.25s;
    animation-fill-mode: both;
}

.cell:nth-child(7) {
    animation: slideupopacity 0.25s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
}

.cell:nth-child(8) {
    animation: slideupopacity 0.25s;
    animation-delay: 0.35s;
    animation-fill-mode: both;
}

.cell:nth-child(9) {
    animation: slideupopacity 0.25s;
    animation-delay: 0.4s;
    animation-fill-mode: both;
}

.cell:hover {
    background-color: var(--slate4);
}
