<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
        porro repellat, ducimus, odio rerum reiciendis, quidem
        corporis commodi pariatur magnam architecto sit eos labore
        expedita deleniti provident autem omnis tempora!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Animi, recusandae corporis. Ad, exercitationem inventore
        magnam, unde atque officia eligendi quae, minima quam
        reiciendis perferendis nobis qui animi voluptatem. Ex,
        sapiente.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
        voluptates autem praesentium non animi quis, dolore iusto
        quaerat ullam voluptate repellat minus voluptatum expedita,
        officia ex ducimus cum soluta modi?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
